.table__row-container {
    position: relative;
}

.table__row-button {
    position: absolute;
    left: -24.48px;
    min-width: 20.16px;
    min-height: 20.16px;
}

.row-button {
    display: none;
}

.table__row-button:hover .row-button {
    display: block;
}

.row_count {
    width: 100%;
    text-align: end;
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.0188 * 864px);
}
