.list__container {
    display: flex;
    flex-direction: column;
}

.list__logo {
    width: calc(0.6*19.12vw);
    margin-left: 3px;
}

.list__title {
    margin: 0;
    padding: 0;
    font-family: 'arial';
    font-size: calc(0.028*60vw);
    letter-spacing: 1px;
}

.list__table {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.list__subtitle-container {
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.0165* 60vw);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    justify-self: start;
}

.table__column {
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.0188* 60vw);
}

.table__titles {
    vertical-align: bottom;
    border-bottom: 1px solid black;
    padding-bottom: 9px;
    margin-bottom: 11px;
    align-items: end;
}

.table__row {
    display: grid;
    grid-template-columns: 50% repeat(3, 1fr);
    justify-items: end;
    align-items: end;
}

.table__title {
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.0188* 60vw);
}

.table__line-container {
    display: flex;
    gap: 3px;
    align-items: end;
    justify-self: start;
}

.table__line {
    font-family: arial;
    font-weight: 600;
    font-size: calc(0.0165* 60vw);
}

.tabel__line_product {
    font-size: calc(0.021* 60vw);
}

.tabel__line_composition-of-product {
    font-weight: 400;
}

.tabel__line_product-weight {}

.list__total {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-self: unset;
    font-size: calc(0.01765* 60vw);
    border-top: 1px solid black;
    padding-top: 7px;
    box-sizing: border-box;
}

.table__subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .table__staff {
    font-family: arial;
    font-weight: 600;
    font-size: calc(0.021* 60vw);
}

.table__staff_subtitle {
    font-weight: 400;
    font-size: calc(0.0165* 60vw);
} */

.footer {
    display: flex;
    justify-content: space-between;
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.0165* 60vw);
    align-items: end;
}

.list__footnotes {

}

.list__totla-cost {
    font-weight: 600;
}