.form__title {
    padding: 0;
    margin: 0;
    font-family: arial;
    font-weight: 600;
    font-size: calc(0.025* 60vw);
}
.label {
    padding: 0;
    margin: 0;
    font-family: arial;
    font-weight: 400;
    font-size: calc(0.019* 60vw);
    color: gray;
}