.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    min-width: 768px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ширина для мобильных */
    /* max-width: 500px; Максимальная ширина */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif; /* Такой же шрифт, как в форме */
    box-sizing: border-box;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup__lable {
    margin: 0.25rem 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    color: black;
    display: grid;
    grid-template-columns: 15% 1fr;
    justify-content: end;
    align-items: center;
    gap: 5px;
  }

  .popup__input {
    width: max-content;
    /* justify-self: end; */
  }

/* .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
} */

.popup input,
.popup select {
    width: 90%;
    margin: 8px 0;
    padding: 5px;
}

.input, .form__select {
    width: 100%;
    padding: 0.375rem;
    margin-top: 0.25rem;
    box-sizing: border-box;
  }

.form__title {
    margin-bottom: 0.5rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
  }



.popup__button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    /* 14px */
    background-color: #4CAF50;
    /* Красный */
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup__button_close {
    background-color: #f4433600;
    position: absolute;
    right: 20px;
    top: 20px;
    color: gray;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 0;
    padding: 0;
    /* Красный */
}

.popup__button_close:hover {
    background-color: rgba(153, 153, 153, 0.415);

}

.popup__button_save:hover {
    background-color: #45a049;
}

.popup__button_icon {
    width: 30px;
}