.footer__logo-container {
    margin: 17px auto 92px;
}

.footer__count-container {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.list_footer {
    justify-content: start;
    min-width: 864px;
}

.footer__title {
    align-self: center;
}

.totalKp {
    padding: 0;
    margin: 0;
}

.footer__row {
    text-align: start;
    list-style: none;
    padding: 0;
}