.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.35rem; /* 5px */
}

.preview {
  box-sizing: border-box;
  padding: 1.875rem; /* 30px */
  background-color: lightgrey;
  overflow-x: auto; /* Предотвращение горизонтальной прокрутки */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .page {
    padding: 0.2rem; /* 3.2px */
  }

  .preview {
    padding: 1rem; /* 16px */
  }
}
